.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
data-raw/input-data-files/20 Hamilton pharmacies will start offering AstraZeneca vaccine to ages 55 and over _ CBC News.html
data-raw/input-data-files/20 Hamilton pharmacies will start offering AstraZeneca vaccine to ages 55 and over _ CBC News/
