/*-------------------------------------
  Reset
---------------------------------------*/

/******Basic settings**********/
*{
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%; 
}

*, *:before, *:after {
    box-sizing: inherit;
}
img{
  border: 0px;
}
a{
  text-decoration: none;
}
body{
    font-family: 'arial', sans-serif; color: #444444;
}
.font-preloader{
  font-family:'arial';
  visibility:hidden;
  width:0; 
  height:0;
}
#frame_one, #frame_two,#frame_three,#frame_four,#frame_five, #frame_six, #frame_seven {
  width: 100%;
  height: 100%;
}

/*-------------------------------------
  Layout
---------------------------------------*/

#ad {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#banner {
  position: absolute;
  background: #eeeeee;
  display: block;
  width: 728px;
  height: 90px;
  overflow: hidden;
  cursor: pointer;
  visibility: hidden; 
  border: 1px solid #666666;
  -webkit-box-sizing: border-box;  
          box-sizing: border-box;  
}

#clickTAG {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 1px;
  cursor: pointer;
}

.ie-fallback{
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
}

/*-------------------------------------
  Frame One frame duration: 2s
---------------------------------------*/

.aw-logo, .aw-logofr2, .aw-logofr3 {
  left:-3px;
  top: 1px;
  position: absolute;
  z-index: 9;
}
.vendor-logo {
  position: absolute;
	top: -1px;
	left: -1px;
  z-index: 9;
}
.bg, .bg2 , .bg3, .bg4,.bg5, .bg_last {
  position: absolute;
  top: -1px;
  left: -1px;
}
.funding-1st {
  position: absolute;
    width: 136px;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    bottom: 22px;
    right: 83px;
    color: #282829;
    z-index: 9;
}

/*-------------------------------------
  Frame two  frame duration: 2s
---------------------------------------*/
.bg2_glow, .bg3_glow, .bg4_glow, .bg6_glow, .line, .bg_last_glow {
  position: absolute;
  top: -1px;
  left: -1px;
}
.title2 {
  position: absolute;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  bottom: 26px;
  left: 132px;
  color: #282829;
}


.product1 {
  position: absolute;
  top: -1px;
  left: -1px;
}

/*-------------------------------------
  Frame Three  frame duration: 2s
---------------------------------------*/

.title3 {
  position: absolute;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  bottom: 26px;
  left: 112px;
  color: #282829;
}
.title3 sup {
  font-size: 14px;
  line-height:10px;
}
.product2 {
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 9;
}

/*-------------------------------------
 Frame Four  frame duration: 2s
---------------------------------------*/

.title4{
  position: absolute;
  font-size: 14px;
  line-height:17px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  bottom: 18px;
  left: 87px;
  color: #fff;
}
.title4 span {
  text-transform: lowercase;
}

.product3 {
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 9;
}

/*-------------------------------------
  Frame Five  frame duration: 2s
---------------------------------------*/

.title5{
  position: absolute;
  font-size: 14px;
  line-height:17px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  bottom: 26px;
  left: 60px;
  color: #fff;
}
.title4 sup, .title5 sup {
  font-size: 9px;
  line-height: 9px;
  vertical-align: 4px;
}
.product4 {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 9;
}

/*-------------------------------------
  Frame Six  frame duration: 2s
---------------------------------------*/

.title6{
  position: absolute;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
  top: 37px;
  left: 40px;
  color: #282829;
}
.title6 span {
  font-size: 10px;
  line-height: 10px;
}

.funding-last {
  position: absolute;
    width: 136px;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    font-weight: 400;
    top: 31px;
    right: 128px;
    color: #282829;
    z-index: 9;
}
.aw-logo2 {
  position: absolute;
  top: 0px;
  left: -1px;
}

.price-text{
  position: absolute;
  top: 39px;
  right: 147px;
  color: #282829;
}
.price-text1{
  font-size: 12px;
  line-height:15px;
  font-weight: 400;
}

.price-text1 sup {
  font-size:10px;
  line-height:12px;
}

.cta{
  position: absolute;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.16em;
  bottom: 15px;
  right: 126px;
  color: #282829;
  text-transform: uppercase;
}
.cta span{
  font-size: 14px;
}
